/* FONTS */
@font-face {
  font-family: ArialNormal;
  src: url("assets/fonts/arial-normal.ttf");
}

@font-face {
  font-family: ArialBlack;
  src: url("assets/fonts/arial-black.ttf");
}

/* DEFAULT */
:root {
  font-family: ArialNormal;
}

body {
  margin: 0;
  background-color: rgba(235,235,235);
}
