/* FONTS */
@font-face {
  font-family: ArialNormal;
  src: url("assets/fonts/arial-normal.ttf");
}

/* DEFAULT */
:root {
  font-family: ArialNormal;
}

body {
  margin: 0;
  background-color: rgb(250, 250, 250);
}

/* ANIMATIONS */

.list-enter-active,
.list-leave-active,
.fade-enter-active,
.fade-enter-leave{
  transition: all .4s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.fade-enter-from,
.fade-leave-to{
  opacity: 0;
}

.fade-enter-to,
.fade-leave-from{
  opacity: 1;
}
